---
---

@import "{{ site.theme }}";

.wrapper {
  min-width: 50%;
}

.utterances {
  max-width: 100% !important;
  width: auto !important;
  margin: 0 20px !important;
}

table {
  width: 100% !important;
  align: centre !important;
}

td {
  align: centre !important;
}
