---
---

@import "{{ site.theme }}";

.wrapper {
  min-width: 50%;
}

.utterances {
  max-width: 100% !important;
  width: auto !important;
  margin: 0 20px !important;
}

table {
  width: 100%;
  border: 0px;
  background-color: #03101F;
}

th {
  border: 0px;
  margin: 20px;
  text-align: center;
}

tr {
  border: 0px;
  background-color: #03101F;
}

td {
  margin: 20px;
  max-width: 50%;
  min-width: 50%;
  width: 50%;
  border: 0px;
  text-align: center;
  background-color: white;
}
