---
---

@import "{{ site.theme }}";

.wrapper {
  min-width: 50%;
}

.utterances {
  max-width: 100% !important;
  width: auto !important;
  margin: 0 20px !important;
}

table {
  width: 100%;
  border: 0px;
}

th {
  border: 0px;
}

tr {
  border: 0px;
}

td {
  max-width: 50%;
  min-width: 50%;
  border: 0px;
}
